/* Applies to Full Webpage */

body {
  background-image: url("../images/burger-2.jpg");
  background-size: cover;
  background-position: 50%;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Red Hat Text", sans-serif;
}

/* Header */
.my-container {
  margin: 10px auto;
}

h1 {
  font-family: "Redressed", sans-serif;
  font-weight: 500;
  color: rgb(255, 217, 0);
  text-align: center;
}

.flippin-yummy {
  font-size: 150px;
  text-shadow: 5px 2px rgb(216, 75, 162);
}

.burgers {
  font-family: "Playfair Display", serif;
  font-size: 150px;
  text-shadow: 5px 2px rgb(216, 75, 162);
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: rgb(255, 217, 0);
  text-shadow: 3px 3px rgb(0, 0, 0);
}

#burger-name::placeholder {
  font-family: "Playfair Display", serif;
  color: rgb(102, 99, 99);
}

#burger-name:focus::placeholder {
  color: transparent;
}

.add-btn {
  font-family: "Playfair Display", serif;
  background: black;
  color: white;
  border: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 57px;
  }
}

/* List of Burgers:  Ready to Flip & Devoured */
h4 {
  background: rgba(216, 75, 162);
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 10px;
  font-size: 19px;
  border-radius: 25px;
}

.wait-container,
.devoured-container {
  padding: 0;
  border-radius: 25px;
}

.wait-container ul,
.devoured-container ul {
  background: rgba(255, 217, 0);
  padding: 0 0 10px 0;
  min-height: 40px;
  border-radius: 25px;
}

li {
  list-style: none;
  padding: 3px 0 0 0;
  font-family: "Playfair Display", serif;
}

.devoured-btn,
.delete-btn {
  font-family: "Playfair Display", serif;
  border: 1px solid black;
  background: none;
  margin: 2px;
  padding: 0px 7px;
}

.devoured-btn:hover {
  border: 1px solid rgb(42, 241, 241);
  background: rgb(42, 241, 241);
  color: black;
}

.delete-btn:hover {
  border: 1px solid rgb(165, 22, 194);
  background: rgb(165, 22, 194);
  color: black;
}
